body
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href="/googleline") Google Line Chart
    li 
      a(href="/googleannotated") Google Annotated Line Chart
    li
      a(href="/dygraphs") Dygrpahs
    li
      a(href="/dygraphs_csv") Dygraphs CSV
    li
      a(href="/sortable_table") Sortable Table

