!!!
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    //block include_scripts
    //allign not working on image, not sure if layout format is correct
  body
    #header
      - if (session.user)
        user= 'Logged in as ' + session.user.login +' '
        logout
          a(href='/sessions/destroy') Log Out
    - if (flash.warn)
      p#warn=flash.warn
    #logo
      img(src='/images/subwaylabs.jpg', height='100px')
   div!=body
   #footer Copyright © 2012 Subway Labs, Inc
